*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  /* background-color: rgb(241, 236, 226); */
  background: url(background.png) snow;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 130%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

.logo {
  margin-top: 0.5rem;
  width: 50%;
  max-width: 20rem;
  background-color: white;
}

section {
  margin-top: 4rem;
}

section:last-of-type {
  margin-bottom: 4rem;
}

h2 {
  border-bottom: 2px solid black;
  padding: 1rem 0;
  display: inline-block;
}

a:link,
a:visited,
a:active,
a:hover {
  color: deeppink;
  text-transform: uppercase;
}

a:hover {
  font-weight: bolder;
}

.coach + .coach {
  margin-top: 2rem;
}

.coach__image {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 10rem;
  border: 5px solid black;
  box-shadow: 5px 5px 0 deeppink;
}

@media (min-width: 500px) {
  .coach {
    display: grid;
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
    grid-template-columns: 2fr 3fr;
  }
  .coach__image {
    max-width: 15rem;
  }
}

.coach__title {
  grid-column: 1 / 3;
}

.coach__bio {
  margin: 0;
}
