*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  /* background-color: rgb(241, 236, 226); */
  background: url(background.png) white;
  padding: 1.5rem;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

p {
  line-height: 150%;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }

  p {
    line-height: 160%;
    font-weight: 300;
  }
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

.logo {
  margin-top: 0.5rem;
  width: 50%;
  max-width: 20rem;
  background-color: white;
  box-shadow: 5px 5px 0 deeppink;
}

section {
  margin-top: 4rem;
}

section:last-of-type {
  margin-bottom: 4rem;
}

h2 {
  border-bottom: 2px solid black;
  padding: 1rem 0;
  display: inline-block;
}

a:link,
a:visited,
a:active,
a:hover {
  color: deeppink;
  text-transform: uppercase;
}

a:hover {
  font-weight: bolder;
}

.coach + .coach {
  margin-top: 2rem;
}

.coach__title {
  grid-column: 1 / 3;
}

.coach__bio {
  margin: 0;
}

.coach__image {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 10rem;
  border: 5px solid black;
  box-shadow: 5px 5px 0 deeppink;
}

.coach__social {
  font-size: 200%;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: black;
  align-self: end;
}

@media (min-width: 500px) {
  .coach {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1rem;
    grid-template-columns: 2fr 3fr;
  }
  .coach__image {
    max-width: 15rem;
    margin-bottom: 0;
    grid-row: 2 / 4;
  }

  .coach__social {
    grid-column: 2 / 3;
  }
}

.maps {
  height: 200px;
  width: 100%;
}

@media (min-width: 500px) {
  .maps {
    display: initial;
    height: 400px;
  }
}

/* fontello stuff */
@font-face {
  font-family: "fontello";
  src: url("/font/fontello.eot?92951364");
  src: url("/font/fontello.eot?92951364#iefix") format("embedded-opentype"),
    url("/font/fontello.woff2?92951364") format("woff2"),
    url("/font/fontello.woff?92951364") format("woff"),
    url("/font/fontello.ttf?92951364") format("truetype"),
    url("/font/fontello.svg?92951364#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92951364#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter-squared:before {
  content: "\f304";
} /* 'ïŒ„' */
