*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: initial;
  }
}

html,
body {
  min-height: 100%;
}

body {
  background: url(images/background.png) white;
  padding: 2.5rem;
  padding-top: 0;
  font-family: "Lato", sans-serif;
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

p {
  line-height: 150%;
  max-width: 45ch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

h2 {
  background-color: #333;
  color: #fff;
  box-shadow: 5px 5px 0 deeppink;
  padding: 1rem 3rem !important;
  display: inline-block;
  position: relative;
  left: -1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

header {
  text-align: center;
  padding-top: 2rem;
}

nav {
  margin-bottom: 1.5rem;
}

nav a + a {
  margin-left: 1rem;
}

.logo {
  margin-top: 0.5rem;
  width: 50%;
  max-width: 10rem;
  background-color: white;
  box-shadow: 5px 5px 0 deeppink;
}

main article:first-of-type {
  margin-top: 5rem;
}

article + article {
  margin-top: 4rem;
}

li + li {
  padding-top: 0.5rem;
}

a:link,
a:visited,
a:active,
a:hover {
  color: deeppink;
}

a.back-to-top {
  font-size: 80%;
}

a:hover {
  font-weight: bolder;
}

.coach + .coach {
  margin-top: 2rem;
}

.coach__title {
  grid-column: 1 / 3;
}

.coach__bio {
  margin: 0;
}

.coach__image {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 10rem;
  border: 5px solid #333;
  box-shadow: 5px 5px 0 deeppink;
}

.coach__social {
  font-size: 200%;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: black;
  align-self: end;
}

.past-events {
  list-style-type: circle;
}

@media (min-width: 600px) {
  body {
    font-weight: 300;
  }

  p {
    line-height: 160%;
  }
}

@media (min-width: 500px) {
  .coach {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr minmax(3fr, 40ch);
  }
  .coach__image {
    max-width: 15rem;
    margin-bottom: 0;
    grid-row: 2 / 4;
  }

  .coach__social {
    grid-column: 2 / 3;
  }
}

/* fontello stuff */
@font-face {
  font-family: "fontello";
  src: url("/font/fontello.eot?92951364");
  src: url("/font/fontello.eot?92951364#iefix") format("embedded-opentype"),
    url("/font/fontello.woff2?92951364") format("woff2"),
    url("/font/fontello.woff?92951364") format("woff"),
    url("/font/fontello.ttf?92951364") format("truetype"),
    url("/font/fontello.svg?92951364#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92951364#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter-squared:before {
  content: "\f304";
} /* 'ïŒ„' */
